.companies, .departments, .employees {
	height: fit-content;
	overflow: auto;
	margin-bottom: 2em;
}

.companies_header, .departments_header, .employees_header {
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	font-size: 14px;
	background-color: #25262b;
	color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	position: sticky;
	top: 0;
}

.companies_row, .departments_row, .employees_row {
	display: flex;
	flex-direction: row;
	border-top: 1px solid rgba(37,38,43, 0.3);
	border-bottom: 1px solid rgba(37,38,43, 0.3);
	padding: 8px 16px;
	font-size: 14px;
	cursor: pointer;
}

.companies_row:hover, .departments_row:hover, .employees_row:hover {
	background-color: #FAFAFA;

}

.companies_row ~ .companies_row, .departments_row ~ .departments_row {
	border-top: none;
}

.companies_row-cell, .departments_row-cell{
	flex: 1;
}